
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DefaultView</title>
</head>
<body>
    <div>
        Hello, @Html.Label(MCS.Library.Principal.DeluxeIdentity.CurrentUser.DisplayName)
    </div>
</body>
</html>
