<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="passportClientSettings" type="MCS.Library.Passport.PassportClientSettings, MCS.Library.Passport" />
    <section name="passportEncryptionSettings" type="MCS.Library.Passport.PassportEncryptionSettings, MCS.Library.Passport" />
    <section name="authenticateDirSettings" type="MCS.Library.Passport.AuthenticateDirSettings, MCS.Library.Passport" />
    <section name="principalSettings" type="MCS.Library.Configuration.PrincipalSettings, MCS.Library" />
    <section name="oguPermissionSettings" type="MCS.Library.OGUPermission.OguPermissionSettings, MCS.Library.OGUPermission" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <passportClientSettings appID="OAProject" appSignInTimeout="-2" appSlidingExpiration="36000" method="httpPost" identityWithoutDomainName="false" ticketCookieKey="HPassportTicket_XueDa">
    <paths>
      <!--认证页面地址，需要修改 -->
      <add name="signInUrl" uri="http://localhost/MCSWebApp/ResponsivePassportService/Anonymous/SignInPage.aspx" />

      <!--注销页面地址，需要修改 -->
      <add name="logOffUrl" uri="http://localhost/MCSWebApp/ResponsivePassportService/Anonymous/LogOffPage.aspx" />
      <!--应用注销回调的Url ,清除cookie -->
      <add name="logOffCallBackUrl" uri="~/MCSAuthenticateLogOff.axd" />
    </paths>
    <!--授权委派的相关设置，目前没有实现，所以也没有配置-->
    <typeFactories>
      <add name="userImpersonateLoader" type="" />
    </typeFactories>
    <rsaKeyValue>
      <Modulus>pJtk7yDBiO0dB5n+6R2fTyUEektLJLqq8n0HKSocd3GU8Myj58WMXDK2zWJ9nTVjMOaEsLNPgcVQl8M8UOkEo7yzLvT+sxBEciwBKf3A26IcK6rAMAiJWagDJh5UiyJb2RIiRItyhLu2woiIxvUcrNp04YCRHB85hQy/KXch8Bs=</Modulus>
      <Exponent>AQAB</Exponent>
      <P>0v//8un+QLXn4BeL5n5h5WUszgJ1k4cAmSAqMgf7dhSzjHgIxsvhZs86pLhqUnKjq7TIl7CeeK5Ps98I6eno5w==</P>
      <Q>x7Z4FQi5PPmpKVEyMS25mYmldZUHqyByUm/LrED4I6rnoGKVqBFHqEBj00qUThNUuKXf2gan79GByN/TLAaUrQ==</Q>
      <DP>PobodTbMRqbhUPIJXkOjhRQnY+EssIw4LChw+KSO6x4VWxITH745THsqmLehok8gm3iWXQVU4NRfACGfBZpwjw==</DP>
      <DQ>ER6xOIxg5Ls6JxKQzOpwiJrmFihKWf8UDcELop6HJveVl4gb8CZbEC9E3237PJ4nmxSNFfGQH9zD1WZqgdGmmQ==</DQ>
      <InverseQ>paiLmgb29SAdLMMpVNElzMKOEMCXvQjlqvg2j5o+mHMSoxE9iBO9L3sV6wb4cElCKPB001UFCuFUSLjXuEqqqw==</InverseQ>
      <D>HfTl1psYfanhaZu+B4DLmGS9PuBrCYErUTwtzHEMgzRZjcVAYxLRq4nTOOeewriPl7usFFhdtNlLBIOUe4kcvcD/s+7KCnuvupVINgLGbf046JdckcUp5osPT42oTmifPqh2dKWpDOkL9gVHw6CZWLhRp2argDhj7WjclTiF/jk=</D>
    </rsaKeyValue>
  </passportClientSettings>
  <passportEncryptionSettings>
    <typeFactories>
      <!--<add name="ticketEncryption" type="MCS.Library.Passport.TicketEncryption, MCS.Library.Passport" />-->
      <add name="ticketEncryption" type="MCS.Library.Passport.TicketDesEncryption, MCS.Library.Passport" />
      <!-- -->
      <add name="stringEncryption" type="MCS.Library.Passport.StringEncryption, MCS.Library.Passport" />
    </typeFactories>
  </passportEncryptionSettings>
  <principalSettings>
    <typeFactories>
      <add name="pricipalBuilder" type="MCS.Library.Principal.DefaultPrincipalBuilder, MCS.Library.Passport" />
      <!--授权委派的相关设置，目前没有实现，所以也没有配置-->
      <!--<add name="userImpersonateLoader" type="" />-->
    </typeFactories>
  </principalSettings>
  <authenticateDirSettings defaultAnonymous="false">
    <authenticateDirs>
    </authenticateDirs>
    <anonymousDirs>
    </anonymousDirs>
    <authorizationDirs>
    </authorizationDirs>
  </authenticateDirSettings>
  <!--roleRelatedUserParentDept决定了角色判定时，是否和用户的FullPath相关>-->
  <oguPermissionSettings rootOUPath="机构人员" roleRelatedUserParentDept="true">
    <!--<oguPermissionSettings rootOUPath="">-->
    <paths>
      <!--机构人员访问的Service地址，按实际情况修改-->

      <add name="oguServiceAddress" uri="http://localhost/MCSWebApp/PermissionCenterServices/services/OGUReaderService.asmx" />
      <!--授权管理访问的Service地址，按实际情况修改 -->
      <add name="appAdminServiceAddress" uri="http://localhost/MCSWebApp/PermissionCenterServices/services/AppSecurityCheckService.asmx" />
    </paths>
    <!--获取顶级部门映射-->
    <topOUMapping level="4">
    </topOUMapping>
    <typeFactories>
      <!--实现机构人员操作的工厂类-->
      <add name="oguFactory" type="MCS.Library.OGUPermission.OguAdminMechanism, MCS.Library.OGUPermission" />
      <!--实现授权操作的工厂类-->
      <add name="permissionFactory" type="MCS.Library.OGUPermission.AppAdminMechanism, MCS.Library.OGUPermission" />
    </typeFactories>
  </oguPermissionSettings>
    <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <!--<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>-->
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
</configuration>