<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="workflowSettings" type="MCS.Library.SOA.DataObjects.Workflow.WorkflowSettings, MCS.Library.SOA.DataObjects"/>
    <section name="objectSchemaSettings" type="MCS.Library.SOA.DataObjects.Schemas.Configuration.ObjectSchemaSettings, MCS.Library.SOA.DataObjects.Schemas"/>
    <section name="deObjectOperationActionSettings" type="MCS.Library.SOA.DataObjects.Dynamics.Configuration.DEObjectOperationActionSettings, MCS.Library.SOA.DataObjects.Dynamics"/>
    <section name="schemaPropertyGroupSettings" type="MCS.Library.SOA.DataObjects.Schemas.Configuration.SchemaPropertyGroupSettings, MCS.Library.SOA.DataObjects.Schemas"/>
    <section name="schemaObjectUpdateActionSettings" type="MCS.Library.SOA.DataObjects.Schemas.Configuration.SchemaObjectUpdateActionSettings, MCS.Library.SOA.DataObjects.Schemas"/>
    <sectionGroup name="mcs.data" type="MCS.Library.Data.Configuration.DbConfigurationSectionGroup, MCS.Library.Data">
      <section name="connectionManager" type="MCS.Library.Data.Configuration.ConnectionManagerConfigurationSection, MCS.Library.Data"/>
    </sectionGroup>
    <section name="oguPermissionSettings" type="MCS.Library.OGUPermission.OguPermissionSettings, MCS.Library.OGUPermission"/>
    <section name="LoggingSettings" type="MCS.Library.Logging.LoggingSection, MCS.Library"/>
    <section name="validatorSettings" type="MCS.Library.Core.ValidatorSettings, MCS.Library"/>
    <!--<section name="ConvertFiledValuesMapping" type="MCS.Library.SOA.DataObjects.Dynamics.Configuration.ConvertUepFiledValueMapping, MCS.Library.SOA.DataObjects.Dynamics"/>-->

    <section name="SAPLoginParams" type="MCS.Library.SOA.DataObjects.Dynamics.Configuration.SAPLoginParams, MCS.Library.SOA.DataObjects.Dynamics"/>
    <section name="DynamicsFiledTypesMapping" type="MCS.Library.SOA.DataObjects.Dynamics.Configuration.SAPFileMapping, MCS.Library.SOA.DataObjects.Dynamics"/>
    <sectionGroup name="deluxe.web" type="MCS.Web.Library.DeluxeWebSectionGroup, MCS.Web.Library">
      <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
    </sectionGroup>

    <section name="scriptJsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>

    <!--配置的Uep值转换的节点-->
    <section name="ConvertFiledValuesMapping" type="MCS.Library.SOA.DataObjects.Dynamics.Configuration.ConvertUepFiledValueMapping, MCS.Library.SOA.DataObjects.Dynamics"/>
    <section name="CommonDataDbSetting" type="MCS.Library.SOA.DataObjects.Dynamics.ETL.Configuration.CommonDataDb,MCS.Library.SOA.DataObjects.Dynamics.ETL"/>
  </configSections>
  <DynamicsFiledTypesMapping>
    <properties>
      <add OutType="CHAR" Opration="=" OutLength="1" UEPType="Bool" OperationLength="0" UEPLengthDelegate="MCS.Library.SOA.DataObjects.Dynamics.Others.SapFeiledLengthMapping,UEPFiledLenth"/>
      <add OutType="CHAR" Opration="&gt;" OutLength="1" UEPType="String" OperationLength="2" UEPLengthDelegate="MCS.Library.SOA.DataObjects.Dynamics.Others.SapFeiledLengthMapping,UEPFiledLengthMul"/>
      <add OutType="DATS" Opration="&gt;" OutLength="0" UEPType="DateTime" OperationLength="0" UEPLengthDelegate="MCS.Library.SOA.DataObjects.Dynamics.Others.SapFeiledLengthMapping,UEPFiledLenth"/>
      <add OutType="QUAN" Opration="&gt;" OutLength="0" UEPType="Int" OperationLength="0" UEPLengthDelegate="MCS.Library.SOA.DataObjects.Dynamics.Others.SapFeiledLengthMapping,UEPFiledLenth"/>
    </properties>
  </DynamicsFiledTypesMapping>
  <deluxe.web>
    <jsonSerialization maxJsonLength="4194304">
      <converters>
        <add name="DynamicEntityConvert" type="MCS.Library.SOA.DataObjects.Dynamics.Converters.DynamicEntityConvert, MCS.Library.SOA.DataObjects.Dynamics"/>
        <add name="DynamicEntityFieldConverter" type="MCS.Library.SOA.DataObjects.Dynamics.Converters.DynamicEntityFieldConverter, MCS.Library.SOA.DataObjects.Dynamics"/>
        <add name="DEEntityInstanceConverter" type="MCS.Library.SOA.DataObjects.Dynamics.Converters.DEEntityInstanceConverter, MCS.Library.SOA.DataObjects.Dynamics"/>
        <add name="EntityFieldValueConverter" type="MCS.Library.SOA.DataObjects.Dynamics.Converters.EntityFieldValueConverter, MCS.Library.SOA.DataObjects.Dynamics"/>
        <!--<add name="ETLEntityConvert" type="MCS.Library.SOA.DataObjects.Dynamics.ETL.Converters.ETLEntityConvert, MCS.Library.SOA.DataObjects.Dynamics.ETL"/>
        <add name="ETLEntityFieldConvert" type="MCS.Library.SOA.DataObjects.Dynamics.ETL.Converters.ETLEntityFieldConvert, MCS.Library.SOA.DataObjects.Dynamics.ETL"></add>-->
      </converters>
    </jsonSerialization>
  </deluxe.web>
  <scriptJsonSerialization maxJsonLength="4194304">
    <converters>
      <add name="DynamicEntityConvert" type="MCS.Library.SOA.DataObjects.Dynamics.Converters.DynamicEntityConvert, MCS.Library.SOA.DataObjects.Dynamics"/>
      <add name="DynamicEntityFieldConverter" type="MCS.Library.SOA.DataObjects.Dynamics.Converters.DynamicEntityFieldConverter, MCS.Library.SOA.DataObjects.Dynamics"/>
      <add name="DEEntityInstanceConverter" type="MCS.Library.SOA.DataObjects.Dynamics.Converters.DEEntityInstanceConverter, MCS.Library.SOA.DataObjects.Dynamics"/>
      <add name="EntityFieldValueConverter" type="MCS.Library.SOA.DataObjects.Dynamics.Converters.EntityFieldValueConverter, MCS.Library.SOA.DataObjects.Dynamics"/>
    </converters>
  </scriptJsonSerialization>
  <SAPLoginParams System="ED8" ApplicationServer="10.27.180.77" SystemNumber="00" Client="228" User="songjianw" Password="654321" Language="ZH">
  </SAPLoginParams>
  <CommonDataDbSetting Schame="DE" TableName="ETL_CommonDataDictionary"></CommonDataDbSetting>
  <oguPermissionSettings rootOUPath="机构人员\中国石油">
    <paths>
      <!--机构人员访问的Service地址，按实际情况修改-->
      <add name="oguServiceAddress" uri="http://localhost/MCSWebApp/PermissionCenterServices/services/OGUReaderService.asmx"/>
      <!--<add name="oguServiceAddress" uri="http://localhost/MCSWebApp/AccreditAdmin/services/OGUReaderService.asmx" />-->
      <!--授权管理访问的Service地址，按实际情况修改 -->
      <add name="appAdminServiceAddress" uri="http://localhost/MCSWebApp/PermissionCenterServices/Services/AppSecurityCheckService.asmx"/>
      <!--<add name="appAdminServiceAddress" uri="http://localhost/MCSWebApp/AppAdmin/exports/AppSecurityCheckService.asmx" />-->
    </paths>
    <!--获取顶级部门映射-->
    <topOUMapping level="4">
    </topOUMapping>
    <typeFactories>
      <!--实现机构人员操作的工厂类-->
      <add name="oguFactory" type="MCS.Library.OGUPermission.OguAdminMechanism, MCS.Library.OGUPermission"/>
      <!--实现授权操作的工厂类-->
      <add name="permissionFactory" type="MCS.Library.OGUPermission.AppAdminMechanism, MCS.Library.OGUPermission"/>
    </typeFactories>
  </oguPermissionSettings>
  <LoggingSettings>
    <Loggers>
      <add name="HB2008ServiceMain" enable="true">
        <Filters>
          <add name="PriorityFilter1" type="MCS.Library.Logging.PriorityLogFilter, MCS.Library" minPriority="BelowNormal"/>
        </Filters>
        <Listeners>
          <add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="XmlLogFormatter" logName="ServiceLog" source="HB2008ServiceMain"/>
        </Listeners>
      </add>
      <add name="SMTP" enable="true">
        <Listeners>
          <add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="XmlLogFormatter" logName="SMTP" source="SMTP"/>
        </Listeners>
      </add>
      <add name="webApplicationError" enable="true">
        <Listeners>
          <add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="XmlLogFormatter" logName="HB2008" source="MCSWebApp"/>
        </Listeners>
      </add>
      <add name="WfExecutor" enable="true">
        <Listeners>
          <add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="TextLogFormatter" logName="HB2008" source="WfExecutor"/>
        </Listeners>
      </add>
      <add name="WfRuntime" enable="true">
        <Listeners>
          <add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="TextLogFormatter" logName="HB2008" source="WfRuntime"/>
        </Listeners>
      </add>
      <add name="PageMonitor" enable="true">
        <Listeners>
          <add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="TextLogFormatter" logName="HB2008" source="PageMonitor"/>
        </Listeners>
      </add>
      <add name="UdpCache" enable="false">
        <Listeners>
          <add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="TextLogFormatter" logName="HB2008" source="PageMonitor"/>
        </Listeners>
      </add>
      <add name="PermissionCenterToADSynchronize" enable="true">
        <Listeners>
          <add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="XmlLogFormatter" logName="PermissionCenterToADSynchronize" source="PermissionCenterServices"/>
        </Listeners>
      </add>
    </Loggers>
    <Formatters>
      <add name="XmlLogFormatter" type="MCS.Library.Logging.XmlLogFormatter, MCS.Library"/>
      <add name="TextLogFormatter" type="MCS.Library.Logging.TextLogFormatter, MCS.Library"/>
    </Formatters>
  </LoggingSettings>
  <mcs.data>
    <!--连接字符串-->
    <connectionManager>
      <connectionStrings>
        <add name="DynamicsEntity" connectionString="Server=10.2.90.130;Database=DynamicsEntityDB_Test;User ID=sa;Password=cfldcn@@98123@;enlist=false;" providerName="System.Data.SqlClient"/>
        <!--<add name="DynamicsEntity" connectionString="Server=MCSFramework;Database=DynamicsEntityDB_Test;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
        <!--<add name="DynamicsEntity" connectionString="Server=127.0.0.1;Database=DynamicsEntityDB_New;User ID=sa;Password=123;enlist=false;" providerName="System.Data.SqlClient"/>-->
      </connectionStrings>
      <dataProviders>
        <add name="Oracle.DataAccess.Client" type="MCS.Library.Data.ODP.OracleDatabase,MCS.Library.Data.ODP"/>
        <add name="System.Data.OracleClient" type="MCS.Library.Data.Oracle.OracleDatabase,MCS.Library.Data"/>
        <add name="System.Data.SqlClient" type="MCS.Library.Data.SqlServer.SqlDatabase,MCS.Library.Data"/>
      </dataProviders>
    </connectionManager>
  </mcs.data>
  <schemaObjectUpdateActionSettings>
    <actions>
      <remove name="SCObjectSnapshotAction"></remove>
      <remove name="SCObjectUpdateStatusAction"></remove>
      <remove name="UserAndContainerSnapshotAction"></remove>
      <remove name="UserAndContainerSnapshotUpdateStatusAction"></remove>
      <!--我们自己的配置-->
      <add name="DEObjectSnapshotAction" operation="Update" type="MCS.Library.SOA.DataObjects.Dynamics.Actions.DEObjectSnapshotAction, MCS.Library.SOA.DataObjects.Dynamics"/>
      <add name="DEObjectUpdateStatusAction" operation="UpdateStatus" type="MCS.Library.SOA.DataObjects.Dynamics.Actions.DEObjectUpdateStatusAction, MCS.Library.SOA.DataObjects.Dynamics"/>
    </actions>
  </schemaObjectUpdateActionSettings>
  <deObjectOperationActionSettings>
    <actions>
      <add name="SCOperationSnapshotAction" type="MCS.Library.SOA.DataObjects.Dynamics.Actions.DEOperationSnapshotAction, MCS.Library.SOA.DataObjects.Dynamics"/>
    </actions>
  </deObjectOperationActionSettings>
  <objectSchemaSettings>
    <schemas>
      <!--动态实体的-->
      <add name="DynamicEntity" toSchemaObjectSnapshot="true" snapshotTable="DE.EntitySnapshot" isUsersContainerMember="true" category="DynamicEntity" sortOrder="0" logoImage="user" codeNameKey="Code" fullPathValidationMethod="UniqueInParent" description="动态实体" type="MCS.Library.SOA.DataObjects.Dynamics.Objects.DynamicEntity,MCS.Library.SOA.DataObjects.Dynamics">
        <operations>
          <!--hasParentParemeter=true-->
          <add name="Add" method="AddEntity" />
          <add name="Update" method="UpdateEntity" />
          <add name="Delete" method="DeleteEntity" />
        </operations>
        <schemaClasses>
          <add name="BaseInfo" groupName="BaseInfo" />
          <add name="EntityInfo" groupName="EntityInfo" />
        </schemaClasses>
        <tabs>
          <add name="BaseInfo" description="基本信息"/>
          <add name="EntityInfo" description="实体信息"/>
        </tabs>
      </add>
      <add name="DynamicEntityField" toSchemaObjectSnapshot="true" snapshotTable="DE.EntityFieldSnapshot" isUsersContainerMember="true" category="DynamicEntityField" sortOrder="0" logoImage="user" codeNameKey="Code" fullPathValidationMethod="UniqueInParent" description="动态实体字段" type="MCS.Library.SOA.DataObjects.Dynamics.Objects.DynamicEntityField,MCS.Library.SOA.DataObjects.Dynamics">
        <operations>
          <!--hasParentParemeter=true-->
          <add name="Add" method="AddEntityField" />
          <add name="Update" method="UpdateEntityField" />
          <add name="Delete" method="DeleteEntityField" />
        </operations>
        <schemaClasses>
          <add name="BaseInfo" groupName="BaseInfo" />
          <add name="EntityFieldInfo" groupName="EntityFieldInfo" />
          <add name="EntityFieldInfoEX" groupName="EntityFieldInfoEX" />
        </schemaClasses>
        <tabs>
          <add name="BaseInfo" description="基本信息"/>
          <add name="EntityFieldInfo" description="实体字段信息"/>
        </tabs>
      </add>
      <add name="Entity_FieldsRelation" snapshotTable="DE.SchemaMembersSnapshot" toSchemaObjectSnapshot="false" category="MemberRelations" isRelation="true" type="MCS.Library.SOA.DataObjects.Dynamics.Organizations.DEMemberRelation,MCS.Library.SOA.DataObjects.Dynamics">
        <schemaClasses>
          <add name="DEMemberRelationObject" groupName="DEMemberRelationObject" />
        </schemaClasses>
      </add>
      <add name="OuterEntity" toSchemaObjectSnapshot="true" snapshotTable="" isUsersContainerMember="true" category="OuterEntity" sortOrder="0" logoImage="" codeNameKey="Code" description="外部实体" type="MCS.Library.SOA.DataObjects.Dynamics.Objects.OuterEntity,MCS.Library.SOA.DataObjects.Dynamics">
        <operations>
          <add name="Add" method="AddOuterEntity" />
          <add name="Update" method="UpdateOuterEntity" />
          <add name="Delete" method="DeleteOuterEntity" />
        </operations>
        <schemaClasses>
          <add name="BaseInfo" groupName="BaseInfo" />
          <add name="OutEntityExtendInfo" groupName="OutEntityExtendInfo" />
        </schemaClasses>
        <tabs>
        </tabs>
      </add>
      <add name="DynamicEntityMapping" snapshotTable="DE.SchemaMembersSnapshot" toSchemaObjectSnapshot="false" category="MemberRelations" isRelation="true" type="MCS.Library.SOA.DataObjects.Dynamics.Organizations.DEMemberRelation,MCS.Library.SOA.DataObjects.Dynamics">
        <schemaClasses>
          <add name="DEMemberRelationObject" groupName="DEMemberRelationObject" />
        </schemaClasses>
      </add>
      <add name="OuterEntityField" toSchemaObjectSnapshot="true" snapshotTable="" isUsersContainerMember="true" category="OuterEntityField" sortOrder="0" logoImage="" codeNameKey="Code" description="外部实体属性" type="MCS.Library.SOA.DataObjects.Dynamics.Objects.OuterEntityField,MCS.Library.SOA.DataObjects.Dynamics">
        <operations>
          <add name="Add" method="AddOuterEntityField" />
          <add name="Update" method="UpdateOuterEntityField" />
          <add name="Delete" method="DeleteOuterEntityField" />
        </operations>
        <schemaClasses>
          <add name="BaseInfo" groupName="BaseInfo" />
        </schemaClasses>
        <tabs>
        </tabs>
      </add>
      <add name="DynamicEntityFieldMapping" snapshotTable="DE.SchemaMembersSnapshot" toSchemaObjectSnapshot="false" category="MemberRelations" isRelation="true" type="MCS.Library.SOA.DataObjects.Dynamics.Organizations.DEMemberRelation,MCS.Library.SOA.DataObjects.Dynamics">
        <schemaClasses>
          <add name="DEMemberRelationObject" groupName="DEMemberRelationObject" />
        </schemaClasses>
      </add>
      <add name="OuterEntityFieldMapping" snapshotTable="DE.SchemaMembersSnapshot" toSchemaObjectSnapshot="false" category="MemberRelations" isRelation="true" type="MCS.Library.SOA.DataObjects.Dynamics.Organizations.DEMemberRelation,MCS.Library.SOA.DataObjects.Dynamics">
        <schemaClasses>
          <add name="DEMemberRelationObject" groupName="DEMemberRelationObject" />
        </schemaClasses>
      </add>
    </schemas>
  </objectSchemaSettings>
  <schemaPropertyGroupSettings>
    <groups>
      <!--动态实体的-->
      <add name="BaseInfo" defaultTab="BaseInfo">
        <properties>
          <add name="ID" displayName="标识" sortOrder="1" tab="BaseInfo" category="基本属性" maxLength="36" type="String" snapshotMode="IsInSnapshot,IsInCommonSnapshot" visible="false" batchMode=""/>
          <add name="CodeName" displayName="标识名称" sortOrder="2"  tab="BaseInfo" category="基本属性"  maxLength="255" type="String" snapshotMode="IsInSnapshot,IsInCommonSnapshot,IsFullTextIndexed" visible="false" batchMode=""/>
          <add name="Name" displayName="名称" sortOrder="3" tab="BaseInfo" category="基本属性"  maxLength="255" type="String" snapshotMode="IsInSnapshot,IsInCommonSnapshot,IsFullTextIndexed" visible="true" batchMode="">
            <validators>
              <add name="StringEmptyValidator"  type="MCS.Library.Validation.StringEmptyValidator, MCS.Library" messageTemplate="名称不能为空" />
            </validators>
          </add>
          <add name="Description" displayName="描述" sortOrder="4"  tab="BaseInfo" category="基本属性"  maxLength="255" type="String" snapshotMode="IsInSnapshot,IsFullTextIndexed" visible="true" batchMode=""/>
          <add name="SortNo" displayName="排序号"  tab="BaseInfo" category="基本属性"  maxLength="4" type="Integer" snapshotMode="IsInSnapshot" visible="true" batchMode="" defaultValue="0"/>
        </properties>
      </add>
      <add name="EntityInfo" defaultTab="EntityInfo">
        <properties>
          <add name="CategoryID" displayName="分类编码" tab="EntityInfo" category="基本属性" maxLength="36" type="String" snapshotMode="IsInSnapshot" visible="false" batchMode=""/>
        </properties>
      </add>
      <add name="EntityFieldInfo" defaultTab="EntityFieldInfo">
        <properties>
          <add name="Length" displayName="长度" sortOrder="5"  tab="EntityFieldInfo" category="基本属性" maxLength="255" type="Integer" snapshotMode="IsInSnapshot" visible="true" batchMode="" defaultValue="1"/>
          <add name="FieldType" displayName="字段类型" sortOrder="6" tab="EntityFieldInfo" category="基本属性" type="Enum" editorKey="EnumPropertyEditor" editorParams="MCS.Library.SOA.DataObjects.Dynamics.Enums.FieldTypeEnum,MCS.Library.SOA.DataObjects.Dynamics" snapshotMode="IsInSnapshot" visible="true" batchMode=""/>
          <add name="ReferenceEntityCodeName" displayName="引用实体" sortOrder="7" tab="EntityFieldInfo" category="基本属性" editorKey="ReferenceEntityCodeNameEditor" maxLength="9999" type="String" snapshotMode="IsInSnapshot" visible="true" batchMode="">
            <validators>
              <add name="CodeNameUniqueValidator"  type="MCS.Library.SOA.DataObjects.Dynamics.Validators.CodeNameValidator, MCS.Library.SOA.DataObjects.Dynamics" messageTemplate="{0}引用实体实体不存在。名称：{1}; ID {2}" />
              <!--<parameters>
                  <add name="includingDeleted" type="Boolean" paramValue="True" />
                </parameters>-->
            </validators>
          </add>
          <add name="DefaultValue" displayName="默认值" sortOrder="8" tab="EntityFieldInfo" category="基本属性" maxLength="255" type="String" snapshotMode="IsInSnapshot" visible="true" batchMode=""/>
          <!--<add name="ReferenceETLEntityCodeName" displayName="引用的ETL实体" sortOrder="9" tab="EntityFieldInfo" category="基本属性" maxLength="255" type="String" snapshotMode="None" visible="true" batchMode=""></add>-->
          <!--<add name="ReferenceETLEntityFieldKey" displayName="引用字段Key" sortOrder="10" tab="EntityFieldInfo" category="基本属性" maxLength="255" type="String" snapshotMode="None" visible="true" batchMode=""></add>
          <add name="ReferenceETLEntityFieldVale" displayName="引用字段Value" sortOrder="11" tab="EntityFieldInfo" category="基本属性" maxLength="255" type="String" snapshotMode="None" visible="true" batchMode=""></add>-->

        </properties>
      </add>
      <add name="EntityFieldInfoEX" defaultTab="EntityInfo">
        <properties>
          <add name="ParamDirection" displayName="参数方向" sortOrder="9" tab="ETLEntityFieldInfo" category="基本属性" maxLength="36" type="Enum" editorKey="EnumPropertyEditor" editorParams="MCS.Library.SOA.DataObjects.Dynamics.Enums.ParamDirectionEnum,MCS.Library.SOA.DataObjects.Dynamics" snapshotMode="None" visible="true" batchMode=""/>
          <add name="ReferenceETLEntityCodeName" displayName="引用的ETL实体" sortOrder="10" tab="EntityFieldInfo" category="基本属性" maxLength="255" type="String" snapshotMode="None" visible="true" batchMode=""></add>
          <add name="IsStruct" displayName="是否结构" sortOrder="11"  tab="ETLEntityFieldInfo" category="基本属性" maxLength="1" type="Boolean" snapshotMode="None" visible="true" batchMode="" defaultValue="false"/>
        </properties>
      </add>
      <add name="OutEntityExtendInfo" defaultTab="OutEntityExtendInfo">
        <properties>
          <add name="CustomType" displayName="外部结构类型" tab="OutEntityExtendInfo" category="基本属性" maxLength="36" type="Enum" editorKey="EnumPropertyEditor" editorParams="MCS.Library.SOA.DataObjects.Dynamics.Contract.InType,MCS.Library.SOA.DataObjects.Dynamics.Contract" snapshotMode="IsInSnapshot" visible="false" batchMode=""/>
        </properties>
      </add>
      <add name="DEMemberRelationObject">
        <properties>
          <add name="ContainerID" displayName="容器标识" sortOrder="1"  type="String" snapshotMode="IsInSnapshot" visible="false"/>
          <add name="ContainerSchemaType" sortOrder="1" type="String" snapshotMode="IsInSnapshot" visible="false"/>
          <add name="InnerSort" type="Integer" snapshotMode="IsInSnapshot" visible="false" defaultValue="0"/>
          <add name="ID" displayName="对象标识" sortOrder="1"  type="String" snapshotMode="IsInSnapshot" snapshotFieldName="MemberID"   visible="false"/>
          <add name="MemberSchemaType" sortOrder="1"  type="String" snapshotMode="IsInSnapshot" visible="false"/>
        </properties>
      </add>
    </groups>
  </schemaPropertyGroupSettings>
  <validatorSettings>
    <validators>
      <add name="StringEmptyValidator" type="MCS.Library.Validation.StringEmptyValidator, MCS.Library"/>
      <add name="StringLengthValidator" type="MCS.Library.Validation.StringLengthValidator, MCS.Library"/>
      <add name="RegexValidator" type="MCS.Library.Validation.RegexValidator, MCS.Library"/>
      <add name="ObjectNullValidator" type="MCS.Library.Validation.ObjectNullValidator, MCS.Library"/>
      <add name="RegexValidator" type="MCS.Library.Validation.RegexValidator, MCS.Library"/>
      <add name="IntegerRangeValidator" type="MCS.Library.Validation.IntegerRangeValidator, MCS.Library"/>
      <add name="DateTimeEmptyValidator" type="MCS.Library.Validation.DateTimeEmptyValidator, MCS.Library"/>
      <add name="DateTimeRangeValidator" type="MCS.Library.Validation.DateTimeRangeValidator, MCS.Library"/>
    </validators>
  </validatorSettings>
  <workflowSettings connectionName="HB2008" outputShortType="false" useActivityPlanTime="true">
    <typeFactories>
      <add name="processDescriptorManager" type="MCS.Library.SOA.DataObjects.Workflow.WfSqlProcessDescriptorManager, MCS.Library.SOA.DataObjects"/>
      <add name="processPersistManager" type="MCS.Library.SOA.DataObjects.Workflow.WfSqlProcessPersistManager, MCS.Library.SOA.DataObjects"/>
    </typeFactories>
  </workflowSettings>
  <appSettings>
    <add key="enableSimulatedOperation" value="false"/>
    <add key="MiddLogCount" value="500"/>
  </appSettings>
  <!--Uep属性值转换配置-->
  <ConvertFiledValuesMapping>
    <properties>
      <add UEPValueType="Bool" Rule="X," UEPValueDelegate="MCS.Library.SOA.DataObjects.Dynamics.Others.ConvertUEPFiledValue,ConvertBoolValue"/>
      <add UEPValueType="String" Rule="" UEPValueDelegate="MCS.Library.SOA.DataObjects.Dynamics.Others.ConvertUEPFiledValue,ConvertStringValue"/>
      <add UEPValueType="DateTime" Rule="." UEPValueDelegate="MCS.Library.SOA.DataObjects.Dynamics.Others.ConvertUEPFiledValue,ConvertDateTimeValue"/>
      <add UEPValueType="Int" Rule="" UEPValueDelegate="MCS.Library.SOA.DataObjects.Dynamics.Others.ConvertUEPFiledValue,ConvertIntValue"/>
      <add UEPValueType="Decimal" Rule="N4" UEPValueDelegate="MCS.Library.SOA.DataObjects.Dynamics.Others.ConvertUEPFiledValue,ConvertDecimalValue"/>
    </properties>
  </ConvertFiledValuesMapping>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
