<div id="navbar" class="navbar navbar-default">
    <script type="text/javascript">
        try {
            ace.settings.check('navbar', 'fixed')
        } catch (e) {}
    </script>
    <div class="navbar-container" id="navbar-container">
        <!-- #开始：响应式布局下的菜单栏区域 -->
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
            <span class="sr-only">Toggle sidebar</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- /结束：响应式布局下的菜单栏区域 -->
        <div class="navbar-header pull-left">
            <!-- #开始：头部.logo区域 -->
            <a id="logo" href="#" class="navbar-brand">
                <img src="assets/images/logo.gif" />
            </a>
            <!-- /结束：头部.logo区域 -->
            <!-- #section:basics/navbar.toggle -->
            <!-- /section:basics/navbar.toggle -->
        </div>
        <!-- #开始：头部.下拉菜单区域 -->
        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li class="grey">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="ace-icon fa fa-tasks"></i>
                        <span class="badge badge-grey">4</span>
                    </a>
                    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                        <li class="dropdown-header">
                            <i class="ace-icon fa fa-check"></i> 4 Tasks to complete
                        </li>
                        <li>
                            <a href="#">
                                <div class="clearfix">
                                    <span class="pull-left">Software Update</span>
                                    <span class="pull-right">65%</span>
                                </div>
                                <div class="progress progress-mini">
                                    <div style="width:65%" class="progress-bar"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="clearfix">
                                    <span class="pull-left">Hardware Upgrade</span>
                                    <span class="pull-right">35%</span>
                                </div>
                                <div class="progress progress-mini">
                                    <div style="width:35%" class="progress-bar progress-bar-danger"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="clearfix">
                                    <span class="pull-left">Unit Testing</span>
                                    <span class="pull-right">15%</span>
                                </div>
                                <div class="progress progress-mini">
                                    <div style="width:15%" class="progress-bar progress-bar-warning"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="clearfix">
                                    <span class="pull-left">Bug Fixes</span>
                                    <span class="pull-right">90%</span>
                                </div>
                                <div class="progress progress-mini progress-striped active">
                                    <div style="width:90%" class="progress-bar progress-bar-success"></div>
                                </div>
                            </a>
                        </li>
                        <li class="dropdown-footer">
                            <a href="#">
                                See tasks with details
                                <i class="ace-icon fa fa-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="purple">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                        <span class="badge badge-important">8</span>
                    </a>
                    <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                        <li class="dropdown-header">
                            <i class="ace-icon fa fa-exclamation-triangle"></i> 8 Notifications
                        </li>
                        <li>
                            <a href="#">
                                <div class="clearfix">
                                    <span class="pull-left">
                                        <i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
                                        New Comments
                                    </span>
                                    <span class="pull-right badge badge-info">+12</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="btn btn-xs btn-primary fa fa-user"></i> Bob just signed up as an editor ...
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="clearfix">
                                    <span class="pull-left">
                                        <i class="btn btn-xs no-hover btn-success fa fa-shopping-cart"></i>
                                        New Orders
                                    </span>
                                    <span class="pull-right badge badge-success">+8</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="clearfix">
                                    <span class="pull-left">
                                        <i class="btn btn-xs no-hover btn-info fa fa-twitter"></i>
                                        Followers
                                    </span>
                                    <span class="pull-right badge badge-info">+11</span>
                                </div>
                            </a>
                        </li>
                        <li class="dropdown-footer">
                            <a href="#">
                                See all notifications
                                <i class="ace-icon fa fa-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="green">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
                        <span class="badge badge-success">5</span>
                    </a>
                    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                        <li class="dropdown-header">
                            <i class="ace-icon fa fa-envelope-o"></i> 5 Messages
                        </li>
                        <li class="dropdown-content">
                            <ul class="dropdown-menu dropdown-navbar">
                                <li>
                                    <a href="#">
                                        <img src="./assets/images/avatar.png" class="msg-photo" alt="Alex's Avatar" />
                                        <span class="msg-body">
                                            <span class="msg-title">
                                                <span class="blue">Alex:</span> Ciao sociis natoque penatibus et auctor ...
                                            </span>
                                            <span class="msg-time">
                                                <i class="ace-icon fa fa-clock-o"></i>
                                                <span>a moment ago</span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-footer">
                            <a href="inbox.html">
                                See all messages
                                <i class="ace-icon fa fa-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- #开始：头部.下拉菜单区域.用户菜单 -->
                <li class="light-blue">
                    <a data-toggle="dropdown" href="javascript:void(0)" class="dropdown-toggle">
                        <img class="nav-user-photo" src="assets/images/user.png" alt="用户头像" />
                        <span class="user-info">
                            <small>您好,咨询师1</small>
                            <small>校教育咨询师-方庄</small>
                        </span>
                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>
                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li class="dropdown-hover">
                            <a class="clearfix" tabindex="-1" href="#">
                                <i class="ace-icon fa fa-user"></i> 切换角色
                                <i class="ace-icon fa fa-caret-right pull-right"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="#" tabindex="-1">校教育咨询师-方庄</a>
                                </li>
                                <li>
                                    <a href="#" tabindex="-1">校学管主任-方庄</a>
                                </li>
                                <li>
                                    <a href="#" tabindex="-1">校教育咨询师-校区2</a>
                                </li>
                                <li>
                                    <a href="#" tabindex="-1">系统管理员-总部</a>
                                </li>
                            </ul>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-hover">
                            <a class="clearfix" tabindex="-1" href="#">
                                <i class="ace-icon fa fa-cogs"></i> 页面设置
                                <i class="ace-icon fa fa-caret-right pull-right"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="javascript:void(0);" ng-click="changeSettingNavbar()" tabindex="-1">固定头部导航条</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" ng-click="changeSettingBreadcrumbs()" tabindex="-1">固定路径导航条</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" ng-click="changeSettingMainContainer()" tabindex="-1">固定页面宽度</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" ng-click="changeSettingSidebar()" tabindex="-1">固定左侧菜单</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" ng-click="changeSettingCompact()" tabindex="-1">左侧复合菜单</a>
                                </li>
                                <!--<li class="dropdown-hover">
                                    <a href="javascript:void(0);" tabindex="-1">选择页面主题<i class="ace-icon fa fa-caret-right pull-right"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a href="#" tabindex="-1">主题1</a>
                                        </li>
                                        <li>
                                            <a href="#" tabindex="-1">主题2</a>
                                        </li>
                                        <li>
                                            <a href="#" tabindex="-1">主题3</a>
                                        </li>
                                    </ul>
                                </li>-->
                            </ul>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <i class="ace-icon fa fa-power-off"></i> 注销
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- /结束：头部.下拉菜单区域.用户菜单 -->
            </ul>
        </div>
        <!-- /结束：头部.下拉菜单区域 -->
    </div>
</div>