<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="authenticateDirSettings" type="MCS.Library.Passport.AuthenticateDirSettings, MCS.Library.Passport"/>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <authenticateDirSettings defaultAnonymous="false">
    <authenticateDirs />
    <anonymousDirs />
  </authenticateDirSettings>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />

      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <!--<handlers>
    </handlers>
    <modules>
      <add name="DeluxeWorksPassportModule" type="MCS.Library.Passport.PassportAuthenticationModule, MCS.Library.Passport" />
      <add name="CacheModule" type="MCS.Library.Caching.CacheModule, MCS.Library"/>
    </modules>-->
  </system.webServer>
</configuration>