<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="simpleSection" type="MCS.Configuration.Test.SimpleSection, MCS.Configuration.Test"/>
  </configSections>
  <simpleSection name="Shen Tian Yu">
    <items>
      <add name="Zhang Yuxuan" description="cousin"/>
    </items>
  </simpleSection>
</configuration>