<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="authenticateDirSettings" type="MCS.Library.Passport.AuthenticateDirSettings, MCS.Library.Passport"/>
    <section name="userOUControlSettings" type="MCS.Web.WebControls.UserOUControlSettings, MCS.Library.SOA.Web.WebControls"/>
    <section name="schemaObjectUpdateActionSettings" type="MCS.Library.SOA.DataObjects.Schemas.Configuration.SchemaObjectUpdateActionSettings, MCS.Library.SOA.DataObjects.Schemas"/>
    <section name="deObjectOperationActionSettings" type="MCS.Library.SOA.DataObjects.Dynamics.Configuration.DEObjectOperationActionSettings, MCS.Library.SOA.DataObjects.Dynamics"/>
    <section name="propertyGroupSettings" type="MCS.Library.SOA.DataObjects.PropertyGroupSettings, MCS.Library.SOA.DataObjects"/>
    <section name="propertyEditorParamsSettings" type="MCS.Library.SOA.DataObjects.PropertyEditorParamsSettings, MCS.Library.SOA.DataObjects"/>
    <section name="propertyEditorSettings" type="MCS.Web.WebControls.PropertyEditorSettings, MCS.Library.SOA.Web.WebControls"/>
    <section name="propertyFormLayoutSettings" type="MCS.Library.SOA.DataObjects.PropertyFormLayoutSettings, MCS.Library.SOA.DataObjects"/>
    <section name="dropdownPropertyDataSourceSettings" type="MCS.Web.WebControls.DropdownPropertyDataSourceSettings, MCS.Library.SOA.Web.WebControls"/>
    <section name="validatorSettings" type="MCS.Library.Core.ValidatorSettings, MCS.Library"/>
    <sectionGroup name="deluxe.web" type="MCS.Web.Library.DeluxeWebSectionGroup, MCS.Web.Library">
      <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
    </sectionGroup>
    <section name="scriptJsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
    <section name="userRecentDataSettings" type="MCS.Library.SOA.DataObjects.UserRecentDataConfigurationSection, MCS.Library.SOA.DataObjects"/>
    <section name="pcServiceClientSettings" type="MCS.Library.SOA.DataObjects.Security.Client.PCServiceClientSettings, MCS.Library.SOA.DataObjects.Security.Client"/>
  </configSections>
  <pcServiceClientSettings useLocalCache="false" useServerCache="false" timeout="00:01:30">
    <paths>
      <add name="queryServiceAddress" uri="http://localhost/MCSWebApp/PermissionCenterServices/Services/PermissionCenterQueryService.asmx"/>
      <add name="updateServiceAddress" uri="http://localhost/MCSWebApp/PermissionCenterServices/Services/PermissionCenterUpdateService.asmx"/>
    </paths>
  </pcServiceClientSettings>
  <appSettings>
    <add key="enableSimulatedOperation" value="false"/>
    <add key="MCS.MetaConfiguration" value="%MCS2013ConfigDir%\MCS.ConfigMapping.config" />
    <add key="MiddLogCount" value="500"/>
    <add key="SqlCount" value="5000"/>
    <!--设置DE管理员,如果不设置则默认所有人都是管理员-->
    <!--<add key="DEAdmin" value="PC:NormalAdmin"/>-->
    <!--/**
    * 添加人员：朱俊峰
    * 添加时间：2014/12/23
    * **/-->
    <!--开关-->
    <add key="importUserToRole" value="true"/>
    <!--LDAP数据库-->
    <add key="LDAP_DBConnection" value="Data Source=10.30.47.146,2433;database=CNPC;User ID=sa;Password=1qaz2WSX;"/>
    <!--创建人员信息-->
    <add key="userid" value="abc296a8-27d2-4e36-b439-1935b48fc837"/>
    <add key="userDisplayName" value="admin"/>
    <!--一次抽取子表条件-->
    <add key="SapOnce" value="10"/>
    <!--板块数据库-->
    <add key="Sales" value="H"/>
    <!--板块创建角色条件-->
    <add key="EP6806Li" value=""/>
    <!--Ldap服务器地址-->
    <add key="LdapServer" value="10.30.150.63:2389"/>
    <!--读取Ldap服务器的用户名-->
    <add key="LdapUserName" value="uid=eccadmin,cn=appadmins,cn=apps,DC=CNPC,DC=COM"/>
    <!--读取Ldap服务器的用户密码-->
    <add key="LdapUserPassword" value="szf)JqW5"/>
    <!--SqlServer数据库连接字符串-->
    <add key="DBConnenctionString" value="Data Source=192.168.10.10;database=CNPC;User ID=sa;Password=P@ssw0rd;"/>
    <!--Ldap服务器中的用户属性，以“|”分割，和SqlServer数据库表字段一 一对应-->
    <add key="UserAttributes" value="sn|mail|cn|cnpcorgid|cnpcorgpath|d1erpaccount|d2erpaccount|d3erpaccount|d4erpaccount|d5erpaccount|d6erpaccount|d7erpaccount|d8erpaccount|d9erpaccount|d10erpaccount|d11erpaccount|d12erpaccount|d13erpaccount|d14erpaccount|d15erpaccount|d16erpaccount|d17erpaccount|d18erpaccount|d19erpaccount|d20erpaccount"/>
    <!--Ldap服务器中的组织机构属性，以“|”分割，和SqlServer数据库表字段一 一对应-->
    <add key="OrgAttributes" value="CN|CNPCOrgNumber|ou|CNPCParOrgID"/>
    <!--应用注册-->
    <add key="ClientId" value="22222222-2222-2222-2222-222222222222"/>
    <add key="ClientSigningCertificatePath" value="C:\Cer\STS.pfx"/>
    <add key="ClientSigningCertificatePassword" value="pass@word1"/>
    <add key="IssuerId" value="11111111-1111-1111-1111-111111111111"/>
  </appSettings>

  <deluxe.web>
    <jsonSerialization maxJsonLength="4194304">
      <converters>
        <add name="DynamicEntityConvert" type="MCS.Library.SOA.DataObjects.Dynamics.Converters.DynamicEntityConvert, MCS.Library.SOA.DataObjects.Dynamics"/>
        <add name="DynamicEntityFieldConverter" type="MCS.Library.SOA.DataObjects.Dynamics.Converters.DynamicEntityFieldConverter, MCS.Library.SOA.DataObjects.Dynamics"/>
        <add name="DEEntityInstanceConverter" type="MCS.Library.SOA.DataObjects.Dynamics.Converters.DEEntityInstanceConverter, MCS.Library.SOA.DataObjects.Dynamics"/>
        <add name="EntityFieldValueConverter" type="MCS.Library.SOA.DataObjects.Dynamics.Converters.EntityFieldValueConverter, MCS.Library.SOA.DataObjects.Dynamics"/>
        <!--<add name="ETLEntityConvert" type="MCS.Library.SOA.DataObjects.Dynamics.ETL.Converters.ETLEntityConvert, MCS.Library.SOA.DataObjects.Dynamics.ETL"/>-->
        <!--<add name="ETLEntityFieldConvert" type="MCS.Library.SOA.DataObjects.Dynamics.ETL.Converters.ETLEntityFieldConvert, MCS.Library.SOA.DataObjects.Dynamics.ETL"></add>-->
      </converters>
    </jsonSerialization>
  </deluxe.web>
  <scriptJsonSerialization maxJsonLength="4194304">
    <converters>
      <add name="DynamicEntityConvert" type="MCS.Library.SOA.DataObjects.Dynamics.Converters.DynamicEntityConvert, MCS.Library.SOA.DataObjects.Dynamics"/>
      <add name="DynamicEntityFieldConverter" type="MCS.Library.SOA.DataObjects.Dynamics.Converters.DynamicEntityFieldConverter, MCS.Library.SOA.DataObjects.Dynamics"/>
      <add name="DEEntityInstanceConverter" type="MCS.Library.SOA.DataObjects.Dynamics.Converters.DEEntityInstanceConverter, MCS.Library.SOA.DataObjects.Dynamics"/>
      <add name="EntityFieldValueConverter" type="MCS.Library.SOA.DataObjects.Dynamics.Converters.EntityFieldValueConverter, MCS.Library.SOA.DataObjects.Dynamics"/>
    </converters>
  </scriptJsonSerialization>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <sessionState mode="Off"/>
    <compilation debug="true" targetFramework="4.5.1"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="mcs" assembly="MCS.Web.WebControls" namespace="MCS.Web.WebControls"/>
        <add tagPrefix="soa" assembly="MCS.Library.SOA.Web.WebControls" namespace="MCS.Web.WebControls"/>
        <add tagPrefix="pc" src="~/inc/WebControls/Banner.ascx" tagName="Banner"/>
        <add tagPrefix="pc" assembly="MCS.Dynamics.Web" namespace="MCS.Dynamics.Web.WebControls"/>
        <add tagPrefix="pc" src="~/inc/WebControls/BannerIframe.ascx" tagName="IframeBanner"/>
      </controls>
    </pages>
    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="10240"/>
  </system.web>
  <system.webServer>
    <modules>
      <add name="HttpEntryModule" type="MCS.Web.Library.HttpEntryModule, MCS.Web.Library"/>
    </modules>
  </system.webServer>
  <authenticateDirSettings defaultAnonymous="false">
    <authenticateDirs/>
    <anonymousDirs>
      <add location="~/Services"/>
    </anonymousDirs>
    <!--<typeFactories>
      <add name="pricipalBuilder" type="MCS.Library.Principal.DefaultPrincipalBuilder, MCS.Library.Passport"/>
    </typeFactories>-->
  </authenticateDirSettings>
  <schemaObjectUpdateActionSettings>
    <actions>
      <remove name="SCObjectSnapshotAction"/>
      <remove name="SCObjectUpdateStatusAction"/>
      <remove name="UserAndContainerSnapshotAction"/>
      <remove name="UserAndContainerSnapshotUpdateStatusAction"/>
      <!--我们自己的配置-->
      <add name="DEObjectSnapshotAction" operation="Update" type="MCS.Library.SOA.DataObjects.Dynamics.Actions.DEObjectSnapshotAction, MCS.Library.SOA.DataObjects.Dynamics"/>
      <add name="DEObjectUpdateStatusAction" operation="UpdateStatus" type="MCS.Library.SOA.DataObjects.Dynamics.Actions.DEObjectUpdateStatusAction, MCS.Library.SOA.DataObjects.Dynamics"/>
    </actions>
  </schemaObjectUpdateActionSettings>
  <deObjectOperationActionSettings>
    <actions>
      <add name="SCOperationSnapshotAction" type="MCS.Library.SOA.DataObjects.Dynamics.Actions.DEOperationSnapshotAction, MCS.Library.SOA.DataObjects.Dynamics"/>
    </actions>
  </deObjectOperationActionSettings>
  <propertyFormLayoutSettings>
    <layouts>
      <add name="DefalutLayout">
        <sections>
          <add name="section1" displayName="基本属性" columns="1"/>
          <add name="section2" displayName="动态属性" columns="1"/>
        </sections>
      </add>
      <add name="ETLLayout">
        <sections>
          <add name="section1" displayName="基本属性" columns="1"/>
          <add name="section2" displayName="数据库连接属性" columns="2"/>
          <add name="section3" displayNmae="数据库性" columns="2"/>
        </sections>
      </add>
      <add name="ValidatorLayout">
        <sections>
          <add name="section1" displayName="约束" columns="1"/>
        </sections>
      </add>
    </layouts>
  </propertyFormLayoutSettings>
  <propertyEditorSettings>
    <editors>
      <!--<add name="StandardPropertyEditor" description="一般属性编辑器" type="MCS.Web.WebControls.StandardPropertyEditor, MCS.Library.SOA.Web.WebControls"/>
      <add name="BooleanPropertyEditor" description="布尔属性编辑器" type="MCS.Web.WebControls.BooleanPropertyEditor, MCS.Library.SOA.Web.WebControls"/>
      <add name="EnumPropertyEditor" description="枚举属性编辑器" type="MCS.Web.WebControls.EnumPropertyEditor, MCS.Library.SOA.Web.WebControls"/>
      <add name="ObjectPropertyEditor" description="对象属性编辑器"  type="MCS.Web.WebControls.ObjectPropertyEditor, MCS.Library.SOA.Web.WebControls"/>
      <add name="DatePropertyEditor" description="日期属性编辑器"  type="MCS.Web.WebControls.DatePropertyEditor, MCS.Library.SOA.Web.WebControls"/>
      <add name="DateTimePropertyEditor" description="时间属性编辑器"  type="MCS.Web.WebControls.DateTimePropertyEditor, MCS.Library.SOA.Web.WebControls"/>-->
      <add name="ImageUploaderPropertyEditor" description="图片上传属性编辑器"  type="MCS.Web.WebControls.ImageUploaderPropertyEditor, MCS.Library.SOA.Web.WebControls"/>
      <add name="ValidatorsPropertyEditor" description="验证规则属性编辑器"  type="MCS.Web.WebControls.ValidatorsPropertyEditor,MCS.Library.SOA.Web.WebControls"/>
    </editors>
  </propertyEditorSettings>
  <validatorSettings>
    <validators>
      <add name="StringEmptyValidator" description="字符串为空校验" type="MCS.Library.Validation.StringEmptyValidator, MCS.Library"/>
      <add name="StringLengthValidator" description="字符串长度校验" type="MCS.Library.Validation.StringLengthValidator, MCS.Library"/>
      <add name="RegexValidator" description="正则校验" type="MCS.Library.Validation.RegexValidator, MCS.Library"/>
      <add name="ObjectNullValidator" description="空对象校验" type="MCS.Library.Validation.ObjectNullValidator, MCS.Library"/>
      <add name="IntegerRangeValidator" description="整数范围校验" type="MCS.Library.Validation.IntegerRangeValidator, MCS.Library"/>
      <add name="DateTimeEmptyValidator" description="日期为空校验" type="MCS.Library.Validation.DateTimeEmptyValidator, MCS.Library"/>
      <add name="DateTimeRangeValidator" description="日期范围校验" type="MCS.Library.Validation.DateTimeRangeValidator, MCS.Library"/>
    </validators>
  </validatorSettings>
  <propertyGroupSettings>
    <groups>
      <add name="StringEmptyValidatorProperties">
        <properties>
          <add name="messageTemplate" displayName="提示信息模板" description="提示信息模板" category="约束" type="String" defaultValue=""/>
        </properties>
      </add>
      <add name="StringLengthValidatorProperties">
        <properties>
          <add name="lowerBound" displayName="最小长度" description="最小长度" category="约束" type="Integer" defaultValue="0"/>
          <add name="upperBound" displayName="最大长度" description="最大长度" category="约束" type="Integer" defaultValue="10"/>
          <add name="messageTemplate" displayName="提示信息模板" description="提示信息模板" category="约束" type="String" defaultValue=""/>
        </properties>
      </add>
      <add name="RegexValidatorProperties">
        <properties>
          <add name="pattern" displayName="正则表达式" description="正则表达式" category="约束" type="String" defaultValue=""/>
          <add name="messageTemplate" displayName="提示信息模板" description="提示信息模板" category="约束" type="String" defaultValue=""/>
        </properties>
      </add>
      <add name="IntegerRangeValidatorProperties">
        <properties>
          <add name="lowerBound" displayName="最小值" description="最小值" category="约束" type="Integer" defaultValue=""/>
          <add name="upperBound" displayName="最大值" description="最大值" category="约束" type="Integer" defaultValue=""/>
          <add name="messageTemplate" displayName="提示信息模板" description="提示信息模板" category="约束" type="String" defaultValue=""/>
        </properties>
      </add>
      <add name="DateTimeEmptyValidatorProperties">
       <properties>
          <add name="messageTemplate" displayName="提示信息模板" description="提示信息模板" category="约束" type="String" defaultValue=""/>
        </properties>
      </add>
      <add name="DateTimeRangeValidatorProperties">
        <properties>
          <add name="lowerBound" displayName="最小值" description="最小值" category="约束" type="DateTime" defaultValue=""/>
          <add name="upperBound" displayName="最大值" description="最大值" category="约束" type="DateTime" defaultValue=""/>
          <add name="messageTemplate" displayName="提示信息模板" description="提示信息模板" category="约束" type="String" defaultValue=""/>
        </properties>
      </add>
      <add name="StringFieldTestProperties">
        <properties>
          <add name="Name" description="名称" category="常规" type="String" readOnly="false "/>
          <add name="MinLength" description="最小长度" category="约束" type="Integer" defaultValue="0"/>
          <add name="MaxLength" description="最大长度" category="约束" type="Integer" defaultValue="10"/>
          <add name="Validators" description="校验规则" category="约束" editorKey="ValidatorsPropertyEditor" defaultValue=""/>
          <add name="EditorKey" displayName="属性编辑器" category="基本属性" snapshotMode="None" defaultValue="基本属性" type="Enum" editorKey="EnumPropertyEditor" editorParams="{&quot;dropDownDataSourceID&quot;:&quot;PropertyEditorDataSource&quot;}"/>
          <add name="UserDefineDDL" displayName="自定义下拉列表" category="基本属性" snapshotMode="None" defaultValue="基本属性" type="Enum" editorKey="EnumPropertyEditor" editorParams="OptionA|OptionB|OptionC|OptionD"/>

        </properties>
      </add>
      <!--招商管理-行动动态实体默认字段-->
      <add name="ActionDefaultProperties">
        <properties>
          <add name="IndustrialParkID" displayName="产业园ID" description="产业园ID" category="基本属性" type="String" defaultValue="" sortOrder="1" visible="False" maxLength="36" snapshotMode="IsInSnapshot" editorKey="StandardPropertyEditor"/>
          <add name="IndustrialParkCode" displayName="产业园编码" description="产业园编码" category="基本属性" type="String" defaultValue="" sortOrder="2" visible="False" maxLength="36" snapshotMode="IsInSnapshot" editorKey="StandardPropertyEditor"/>
          <add name="IndustrialParkName" displayName="产业园" description="产业园名称" category="基本属性" type="String" defaultValue="" sortOrder="3" visible="False" maxLength="64" snapshotMode="IsInSnapshot" editorKey="StandardPropertyEditor"/>
          <add name="ProjectID" displayName="项目ID" description="项目ID" category="基本属性" type="String" defaultValue="" sortOrder="4" visible="False" maxLength="36" snapshotMode="IsInSnapshot" editorKey="StandardPropertyEditor"/>
          <add name="ProjectName" displayName="项目" description="项目名称" category="基本属性" type="String" defaultValue="" sortOrder="5" visible="False" maxLength="64" snapshotMode="IsInSnapshot" editorKey="StandardPropertyEditor"/>
          <add name="PhaseID" displayName="阶段ID" description="阶段ID" category="基本属性" type="String" defaultValue="" sortOrder="6" visible="False" maxLength="36" snapshotMode="IsInSnapshot" editorKey="StandardPropertyEditor"/>
          <add name="PhaseName" displayName="阶段" description="阶段名称" category="基本属性" type="String" defaultValue="" sortOrder="7" visible="False" maxLength="64" snapshotMode="IsInSnapshot"  editorKey="StandardPropertyEditor"/>
          <add name="ActionTemplateID" displayName="行动模板ID" description="行动模板ID" category="基本属性" type="String" defaultValue="" sortOrder="8" visible="False" maxLength="36" snapshotMode="IsInSnapshot" editorKey="StandardPropertyEditor"/>
          <add name="ActionTemplateName" displayName="行动模板" description="行动模板名称" category="基本属性" type="String" defaultValue="" sortOrder="9" visible="True" maxLength="64" snapshotMode="IsInSnapshot" editorKey="StandardPropertyEditor"/>
          <add name="OperatingTemplateID" displayName="动作模板ID" description="动作模板ID" category="基本属性" type="String" defaultValue="" sortOrder="10" visible="False" maxLength="36" snapshotMode="IsInSnapshot" editorKey="StandardPropertyEditor"/>
          <add name="OperatingName" displayName="动作" description="动作名称" category="基本属性" type="String" defaultValue="" sortOrder="11" visible="True" maxLength="64" snapshotMode="IsInSnapshot" editorKey="StandardPropertyEditor"/>
          <add name="ActionTitle" displayName="行动名称" description="行动名称" category="基本属性" type="String" defaultValue="" sortOrder="12" visible="True" maxLength="64" snapshotMode="IsInSnapshot" editorKey="StandardPropertyEditor"/>
          <add name="ActionStartTime" displayName="行动开始时间" description="行动开始时间" category="基本属性" type="DateTime" defaultValue="" sortOrder="13" visible="True" maxLength="36" snapshotMode="IsInSnapshot" editorKey="DatePropertyEditor"/>
          <add name="ActionEndTime" displayName="行动结束时间" description="行动结束时间" category="基本属性" type="DateTime" defaultValue="" sortOrder="14" visible="True" maxLength="36" snapshotMode="IsInSnapshot" editorKey="DatePropertyEditor"/>
          <add name="ActionDescription" displayName="行动描述" description="行动描述" category="基本属性" type="String" defaultValue="" sortOrder="14" visible="True" maxLength="500" snapshotMode="IsInSnapshot" editorKey="StandardPropertyEditor"/>
        </properties>
      </add>
      <!--招商管理-阶段动态实体默认字段-->
      <add name="PhaseDefaultProperties">
        <properties>
          <add name="IndustrialParkID" displayName="产业园ID" description="产业园ID" category="基本属性" type="String" defaultValue="" sortOrder="1" visible="False" maxLength="36" snapshotMode="IsInSnapshot" editorKey="StandardPropertyEditor"/>
          <add name="IndustrialParkCode" displayName="产业园编码" description="产业园编码" category="基本属性" type="String" defaultValue="" sortOrder="2" visible="False" maxLength="36" snapshotMode="IsInSnapshot" editorKey="StandardPropertyEditor"/>
          <add name="IndustrialParkName" displayName="产业园" description="产业园名称" category="基本属性" type="String" defaultValue="" sortOrder="3" visible="False" maxLength="64" snapshotMode="IsInSnapshot" editorKey="StandardPropertyEditor"/>
          <add name="ProjectID" displayName="项目ID" description="项目ID" category="基本属性" type="String" defaultValue="" sortOrder="4" visible="False" maxLength="36" snapshotMode="IsInSnapshot" editorKey="StandardPropertyEditor"/>
          <add name="ProjectName" displayName="项目" description="项目名称" category="基本属性" type="String" defaultValue="" sortOrder="5" visible="False" maxLength="64" snapshotMode="IsInSnapshot" editorKey="StandardPropertyEditor"/>
          <add name="PhaseTemplateID" displayName="阶段模板ID" description="阶段模板ID" category="基本属性" type="String" defaultValue="" sortOrder="6" visible="False" maxLength="36" snapshotMode="IsInSnapshot" editorKey="StandardPropertyEditor"/>
          <add name="PhaseName" displayName="阶段" description="阶段名称" category="基本属性" type="String" defaultValue="" sortOrder="7" visible="True" maxLength="64" snapshotMode="IsInSnapshot" editorKey="StandardPropertyEditor"/>
          <add name="PhaseDescription" displayName="阶段描述" description="阶段描述" category="基本属性" type="String" defaultValue="" sortOrder="8" visible="True" maxLength="500" snapshotMode="IsInSnapshot" editorKey="StandardPropertyEditor"/>
        </properties>
      </add>
    </groups>
  </propertyGroupSettings>
  <dropdownPropertyDataSourceSettings>
    <propertySources>
      <add name="PropertyCategoryDataSource" type="MCS.Dynamics.Web.DataSource.PropertyDropdownListDataSource, MCS.Dynamics.Web" method="GetPropertyCategoryDataSource" bindingValue="Value" bindingText="Name"/>
      <add name="PropertyEditorDataSource" type="MCS.Dynamics.Web.DataSource.PropertyDropdownListDataSource, MCS.Dynamics.Web" method="GetPropertyEditorDataSource" bindingValue="Value" bindingText="Name"/>
    </propertySources>
  </dropdownPropertyDataSourceSettings>
  <userRecentDataSettings>
    <categories>
      <add name="recentTimepoints" defaultRecentCount="10">
        <properties>
          <add name="timePoint" displayName="时间点" category="recentTimepoints" type="DateTime" defaultValue="9999-12-31"/>
          <add name="lastAccessDate" displayName="上次使用的时间" category="recentTimepoints" type="DateTime" defaultValue="9999-12-31"/>
          <add name="pinned" displayName="是否是固定的条目" category="recentTimepoints" type="Boolean" defaultValue="9999-12-31"/>
        </properties>
      </add>
      <add name="recentOrgs" defaultRecentCount="10">
        <properties>
          <add name="orgId" displayName="组织机构ID" category="recentOrgs" type="String" defaultValue=""/>
          <add name="timePoint" displayName="时间点" category="recentOrgs" type="DateTime" defaultValue="9999-12-31"/>
          <add name="lastAccessDate" displayName="上次使用的时间" category="recentOrgs" type="DateTime" defaultValue="9999-12-31"/>
          <add name="pinned" displayName="是否是固定的条目" category="recentOrgs" type="Boolean" defaultValue="9999-12-31"/>
        </properties>
      </add>
    </categories>
  </userRecentDataSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SapUserCompareServiceSoap"/>
        <binding name="WebServiceConnectSAPSoap" closeTimeout="00:20:00" openTimeout="00:10:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"/>
        <binding name="PermissionCenterUpdateServiceSoap"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="WebServiceConnectSAPSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
        <binding name="SapUserCompareServiceSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/MCSWebApp/PetroChina.UEP.Web/WebService/SapUserCompareService.asmx" binding="basicHttpBinding" bindingConfiguration="SapUserCompareServiceSoap" contract="SapUserCompare.SapUserCompareServiceSoap" name="SapUserCompareServiceSoap"/>
      <endpoint address="http://localhost/WebServiceConnectSAPWithBizTalk/WebServiceConnectSAP.asmx" binding="basicHttpBinding" bindingConfiguration="WebServiceConnectSAPSoap" contract="Saplocalhost.WebServiceConnectSAPSoap" name="WebServiceConnectSAPSoap"/>
      <endpoint address="http://localhost/MCSWebApp/PermissionCenterServices/Services/PermissionCenterUpdateService.asmx" binding="basicHttpBinding" bindingConfiguration="PermissionCenterUpdateServiceSoap" contract="PermissionUpdate.PermissionCenterUpdateServiceSoap" name="PermissionCenterUpdateServiceSoap"/>
    </client>
  </system.serviceModel>
</configuration>