<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="connectionManager" type="MCS.Library.Data.Configuration.ConnectionManagerConfigurationSection, MCS.Library.Data" />
  </configSections>
  <connectionManager>
    <connectionStrings>
      <!--<add name="PPTS_Customer" connectionString="server=MCSFramework;database=PPTS.Data.Customer.Local.Test.DB;Integrated Security=True" commandTimeout="00:00:30" providerName="System.Data.SqlClient" />
      <add name="PPTS_MetaData" connectionString="server=MCSFramework;database=PPTS.Common.Data.Test.DB;Integrated Security=True" commandTimeout="00:00:30" providerName="System.Data.SqlClient" />-->
      <add name="PPTS_Customer" connectionString="server=10.1.56.213;database=PPTS_Customer_Dev;User ID=msuser;Password=xueda123$" commandTimeout="00:00:30" providerName="System.Data.SqlClient"/>
      <add name="PPTS_MetaData" connectionString="server=10.1.56.213;database=PPTS_MetaData_Dev;User ID=msuser;Password=xueda123$" commandTimeout="00:00:30" providerName="System.Data.SqlClient"/>

      <add name="HB2008" connectionString="server=MCSFramework;database=MCS_WORKFLOW_TEST;Integrated Security=True" commandTimeout="00:00:30" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <dataProviders>
      <add name="Oracle.DataAccess.Client" type="MCS.Library.Data.ODP.OracleDatabase, MCS.Library.Data.ODP" />
      <add name="System.Data.OracleClient" type="MCS.Library.Data.Oracle.OracleDatabase, MCS.Library.Data" />
      <add name="System.Data.SqlClient" type="MCS.Library.Data.SqlServer.SqlDatabase, MCS.Library.Data" />
    </dataProviders>
  </connectionManager>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
