<!--需按照实际情况修改-->
<connectionManager>
  <connectionStrings>
    <add name="DeluxeWorksPassport" connectionString="server=10.1.56.213;database=IT_Metadata_Dev;User ID=msuser;Password=xueda123$"  providerName="System.Data.SqlClient" />
    <add name="PageViewState" connectionString="server=10.1.56.213;database=IT_Metadata_Dev;User ID=msuser;Password=xueda123$" providerName="System.Data.SqlClient"/>
    <add name="UserRelativeInfo" connectionString="server=10.1.56.213;database=IT_Metadata_Dev;User ID=msuser;Password=xueda123$" providerName="System.Data.SqlClient"/>
    <add name="HB2008" connectionString="server=10.1.56.213;database=IT_Workflow_Dev;User ID=msuser;Password=xueda123$" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>
    <add name="HB2008_SIMULATION" connectionString="server=10.1.56.213;database=IT_Workflow_Simulation_Dev;User ID=msuser;Password=xueda123$" providerName="System.Data.SqlClient"/>
    <add name="Archive" connectionString="server=10.1.56.213;database=IT_Workflow_Archive_Dev;User ID=msuser;Password=xueda123$" providerName="System.Data.SqlClient"/>
    <add name="FullTextSearch" connectionString="server=10.1.56.213;database=IT_Workflow_Dev;User ID=msuser;Password=xueda123$" providerName="System.Data.SqlClient" />

    <add name="PermissionsCenter" connectionString="server=10.1.56.213;database=IT_SecurityCenter_Dev;User ID=msuser;Password=xueda123$" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>

    <add name="PPTS_Customer" connectionString="server=10.1.56.213;database=PPTS_Customer_Dev;User ID=msuser;Password=xueda123$" commandTimeout="00:00:30" providerName="System.Data.SqlClient"/>
    <add name="PPTS_MetaData" connectionString="server=10.1.56.213;database=PPTS_MetaData_Dev;User ID=msuser;Password=xueda123$" commandTimeout="00:00:30" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <dataProviders>
    <add name="Oracle.DataAccess.Client" type="MCS.Library.Data.ODP.OracleDatabase,MCS.Library.Data.ODP"/>
    <add name="System.Data.OracleClient" type="MCS.Library.Data.Oracle.OracleDatabase,MCS.Library.Data"/>
    <add name="System.Data.SqlClient" type="MCS.Library.Data.SqlServer.SqlDatabase,MCS.Library.Data"/>
  </dataProviders>
</connectionManager>